html {
  height: 100%;
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Tahoma, Arial;
  font-size: 14px;
  background: #1A9;
  background: #ADE6E6;
}
h1, h2, h3 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}
ul, ol {
  margin: 5px 0;
}
li {
  margin: 0 0.2em 0.3em 1.5em;
}
textarea {
  -moz-box-sizing: border-box;	
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 80px;

  padding: 5px; 
  margin-top: 3px;

  resize: vertical;
}
button{
  margin: 0 5px 0 0;
  line-height: 24px;
}

.form-wrapper {
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: 600px;
  min-height: 100%;
  height: auto;

  margin: 0 auto;
  padding: 10px 0 50px;

  background-color: #fff;
  box-shadow: 0 0 10px rgba( 0, 0, 0, .5);
}
.form-header {
  position: relative;
  display: inline-block;
  height: 60px;
  width: auto;
  
  margin: 0 0 10px 0;
  padding: 5px 30px 5px 10px;

  background: #fc0;
}
.form-header:first-letter {
  color: #f00;
}
.form-header:after {
  position: absolute;
  right: -20px;   
  top: 0px;
  
  width: 0;
  height: 0;
  
  content: '';

  border-top: 35px solid transparent;     
  border-bottom: 35px solid transparent;     
  border-left: 20px solid #fc0; 
}
.form-introducing {
  padding: 10px;
}
.form-question-container {
  margin: 0 10px;
}
.form-question-header {
  position: relative;

  line-height: 28px;
  padding-left: 20px;
  margin-top: 5px;
  background: #fe6;
  cursor: pointer;
  
  -webkit-transition: background 200ms;
  transition: background 200ms;
}
.form-question-header:hover {
  background: #fc0;
}
.aform-question-header:before {
  position: absolute;
  left: 4px;
  top: 50%;

  height: 20px;
  width: 20px;

  margin-top: -10px;

  font-size: 18px;
  line-height: 20px;
  content: '+';
  text-align: center;

  border-radius: 10px;
  background: #fff;
}
.form-question-header:before {
  position: absolute;
  
  left: 8px;
  top: 50%;
  
  margin-top: -4px;
  
  width: 0;
  height: 0;
  
  border-top: 4px solid transparent;     
  border-bottom: 4px solid transparent;     
  border-left: 6px solid #000;
  
  content: "";
}
.form-question-header.opened:before {
  left: 6px;
  margin-top: -3px;
  border-left: 4px solid transparent;     
  border-right: 4px solid transparent;     
  border-top: 6px solid #000;
  border-bottom: none;
}
.form-question-body {
  padding: 5px 0 10px;
}
.form-footer{
  -moz-box-sizing: border-box;	
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 50%;

  width: 600px;

  margin-left: -300px;
  padding: 5px 10px;

  background: #9dc;
  box-shadow: 0 0 5px rgba( 0, 0, 0, .5);
}

.form-progress-bar {
  display: inline-block;
  position: absolute;
  width: 400px;
  line-height: 24px;
  right: 10px;
  top: 50%;
  margin-top:-12px;
  padding: 0 4px;

  background: #fff;
  overflow: hidden;
  z-index: 0;
  text-align: center;
}
.form-progress-label {
  position: relative;
  vertical-align: middle;
  z-index: 1;
}
.form-progress-line {
  position: absolute;
  display: inline-block;
  height: 30px;
  top: 0;
  left: 0;
  background: #5497D1;
  z-index: 0;
}

.form-question-lang-list{
  list-style: none; 
}